.myOrder-Container {
    background-image: url(https://i.ibb.co/fMfvZSx/wp7491849.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}