/* <!-- section 1 timer part  --> */
.txtcolor{
    color:#e91e63
}
.font{
    font-size: 12px;
}
.mail:hover{
    color:#00eaff;
}
.sec1{
    background-color: #e91e63;
}


/* sec5 gallary part */
.over{
    overflow: hidden !important;
    margin:0 auto;
}
.sec51pic{
    height: 650px !important;
    transition: 2s all ease-in-out;
   
}
.sec51pic:hover{
    transform: scale(1.1);
}
.pic{
    transition: 2s all ease-in-out;
}
.pic:hover{
    transform: scale(1.1);
}
.womenbtn{
    position: absolute;
    bottom: 10%;
    left: 35%;
}
.bagbtn{
    position: absolute;
    bottom: 62%;
    left: 20%;
}
.shoebtn{
    position: absolute;
    bottom: 10%;
    left: 21%;
}
.watchbtn{
    position: absolute;
    bottom: 10%;
    left: 30%;
}
@media only screen and (max-width: 900px) {
    .bagbtn{
        position: absolute;
        bottom: 62%;
        left:35%;
        padding-top: 15px !important;
    }
    .shoebtn{
        position: absolute;
        bottom: 10%;
        left: 30%;
    }
    .watchbtn{
        position: absolute;
        bottom: 10%;
        left: 30%;
    }
}


