/* .review-container {
    background-image: linear-gradient(to right, rgba(21, 212, 255, 0.694), rgba(227, 71, 255, 0.469));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
.carousel {
    padding: 20px 0;
}