.form-design{
    text-align: center;
    background-image: url('https://i.ibb.co/4pttmfR/photo-1562280963-8a5475740a10.jpg');
    background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.801) !important;
}

.form-design input{
    width: 50%;
    margin: 10px;
    border: 1px solid gray;
} 
